.customer {
    height: 10vh;
    border-bottom: 1px solid gray;
    box-shadow: inset 0 0 10px rgb(230, 229, 229);
    cursor: pointer;
    background: var(--grayBg);
}
.customer svg {
    fill: rgba(128, 128, 128, 0.685);
}
.renting svg {
    fill: rgb(16, 173, 16);
}
.customer:hover {
    background: var(--highlight);
    box-shadow: inset 0 0 4px rgb(88, 88, 88);
}
.customers {
    padding-top: 3vh;
}
.customer-header {
    position: fixed;
    height: 3vh;
    background: var(--darkRed);
    color: white;
}