.full {
    height: 100vh;
}

.relative {
    position: relative;
}
.flex {
    display: flex;
}

.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jcont-end {
    justify-content: flex-end;
}

.jcont-start {
    justify-content: flex-start;
}
.jcont-center {
    justify-content: center;
}

.ait-start {
    align-items: flex-start;
}

.ait-end {
    align-items: flex-end;
}
.ait-center {
    align-items: center;
}

.col {
    flex-direction: column;
}
.w-15 {
    width: 15%;
}
.w-25 {
    width: 25%;
}
.w-50 {
    width: 50%;
} 

.w-75 {
    width: 75%;
} 

.w-100 {
    width: 100%;
}

.h-15 {
    height: 15%;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

.txt-r {
    text-align: right;
}
.m-auto {
    margin: auto;
}
.bdr-top {
    border-top: 1px solid var(--darkRed);
}
.bdr-bottom {
    border-bottom: 1px solid var(--darkRed);
}
.marg-t-5 {
    margin-top: 5%;
}
.padd-t-5 {
    padding-top: 5vh;
}
.bold {
    font-weight: 600;
}


